@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


body
{
font-family: "Source Sans Pro";	
}
table{
	border: 1px solid black;
	text-align: center;
}
td {
	text-align: center;
}
